.service{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
}

.About{
    display: flex;
    flex-direction: column;
    position: relative;
}

.About>:nth-child(1){
    color: #FCA61F;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Noto Sans JP', sans-serif;
}

.About>:nth-child(2){
    color: black;
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Noto Sans JP', sans-serif;
}

.About>:nth-child(3){
    color: grey;
    font-size: 14px;
    margin-top: 1rem;
}

.s-button{
    width: 10rem;
    height: 3rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 15px;
}

.cards{
    position: relative;
}

.cards>*{
    position: absolute;
}

.s-blur2{
    left: 14rem;
    top: 20rem;
}
.s-blur1{
    top:2rem;
    left: 5rem;
}
